{% extends 'base_user.html.twig' %}

{% block navBarSectionTitle %}{% trans %}Datos de usuario{% endtrans %}{% endblock %}

{% block nabBarLeftContent %}


{% endblock %}


{% block content %}

    <h1>{% trans %}Datos de usuario{% endtrans %}:</h1>

    {{ form(form) }}


{% endblock %}

{%  block javascripts %}
    {{ parent() }}
    <script src="/assets/js/custom.js"></script>
{% endblock %}