<h1>Estimado {{ name_surnames }}!</h1>

<p>
    {% trans %}Gracias por registrarse en nuestro sistema.{% endtrans %}
    {% trans%}Para acceder a la página de identificación pulse en el siguiente{% endtrans%} <a href="{{ url('app_login') }}">{% trans %}enlace{% endtrans %}</a>.
    {% trans %}Un saludo{% endtrans %}
</p>

<p>
    Bimep
</p>